$themes: (
    light: (
        system-background-primary: white,
        system-background-secondary: white,
        system-background-tertiary: #F2F3F7,
        seperator-line-opaque: #F2F3F7,
        seperator-footer: #1C1C1E,
        content-outline: #F2F3F7,
        content-outline-light: #F4F4F4,
        content-outline-mid:#E1E1E1,
        color-text: #1D1D1F,
        color-text-alt: #9c9c9c,
        color-text-static: white,
        color-text-button: white,
        color-paragraph: rgb(53, 53, 56),
        color-nav: rgba(0,0,0,0.54),
        menu: #2E2E2E,
        switch: #53d769,
        scroller: rgba(58, 58, 60, 0.24),
        scroller-hover: rgba(0, 123, 255, 0.5),
        link: #1a73e8,
        button: rgb(28, 28, 30),
        button-inactive: #AFAFAF,
        caret-color: #000000,
        footer: #2e2e2e,
        footer-mobile: white,
        footer-backing: black,
        color-form-header: rgb(142,142,147),
        dropdown: #2E2E2E,
        metrics: #F2F3F7,
        input-field: #1a73e8,
        success: #53d769,
        error: #DF2549
    ),
    dark: (
        system-background-primary: #0e0e0e,
        system-background-secondary: #1C1C1E,
        system-background-tertiary: #1C1C1E,
        seperator-line-opaque: #2E2E2E,
        seperator-footer: #2E2E2E,
        content-outline: #1C1C1E,
        content-outline-light:#1C1C1E,
        content-outline-mid: #1C1C1E,
        color-text: #F5F5F7,
        color-text-alt: #8d8d8d, 
        color-text-static: white,
        color-text-button: rgb(28, 28, 30),
        color-paragraph: #AFAFAF,
        color-nav: rgba(175, 175, 175, 0.54),
        menu: white,
        switch: #3A3A3C,
        scroller: rgba(255, 255, 255, 0.356),
        scroller-hover: rgba(41, 152, 255, 0.541),
        link: #2997FF,
        button: white,
        button-inactive: #3A3A3C,
        caret-color: white,
        footer: white,
        footer-mobile: white,
        footer-backing: #1C1C1E,
        color-form-header: rgba(255, 255, 255, 0.5),
        dropdown: white,
        metrics: #1C1C1E,
        input-field: #2997FF,
        success: #53d769,
        error: #DF2549
    )
);