@import "../../styles/baseline.scss";

.preview {
    width: 240px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    @include laptop-small {
        height: 703px;
        width: 350px;
    }

    &__video {
        height: 82%;
        width: 85%;
        overflow: hidden;
        display: flex;
        align-self: center;
        margin: auto;
        padding: 20px 0px 30px 0px;
        position: absolute;

        @include laptop-small {
            height: 100%;
            width: 85%;
            border-radius: 36px;
            display: flex;
            align-self: center;
            margin: auto;
            padding: 25px 0px 30px 0px;
        }
    }

    &__overlay {
        height: 600px;
        width: 240px;
        overflow: hidden;
        pointer-events: none;
        justify-self: center;
        z-index: 9;

        @include laptop-small {
            height: 703px;
            width: 350px;
            //position: absolute;
        }
    }

    &__toggle {
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 6px;
        //border: 1px solid rgb(36, 36, 36);
        background-color: $black;
        border-radius: 4px;
        border: none;
        //bottom: -420px;
        bottom: 1.5rem;
        //right: 420px;
        right: 0rem;
        z-index: 9;

        &:hover {
            background-color: rgb(21, 21, 21);
        }
    }
}