@import "../../styles/baseline.scss";

.footer {
    width: 100vw;
    //background-color: red;
    margin: 4rem auto;

    &__container {
        margin: 0 16px;
        display: grid;
        grid-template-areas:    ' wordmark '
                                ' nav '
                                ' break '
                                ' socials '
                                ' copyright';
        grid-template-columns: 1fr;
        row-gap: 2rem;
        column-gap: 4rem;


        @include tablet {
            margin: 0 60px;
            grid-template-areas:    ' wordmark nav '
                                    ' break break '
                                    ' socials copyright ';
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;
            column-gap: 4rem;
        }

        @include laptop-small {
            margin: 0 100px;
            grid-template-areas:    ' wordmark nav '
                                    ' break break '
                                    ' socials copyright ';
            grid-template-columns: 1fr 1fr;
            row-gap: 2rem;
            column-gap: 4rem;
        }

        @include laptop {
            width: 1000px;
            margin: 0 auto;
        }
        
    }

    &__wordmark {
        display: flex;

        & > h3 {
            color: white;
        }
    }

    &__nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
        row-gap: 2rem;
        width: 100%;

        @include tablet {
            grid-template-columns: repeat(3, max-content);
            grid-template-rows: max-content;
            column-gap: 2rem;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        width: 120px;
    }

    &__break {
        grid-area: break;
        height: 1px;
        width: 100%;
        background-color: $black100;
    }

    &__label {
        color: $white;
        width: 100%;
        display: flex;
        font-size: 1rem;
        padding-bottom: 0.75rem;
        font-weight: bold;
    }

    &__links {
        display: flex;
        flex-direction: column;

        & > li > a {
            color: $grey;
            font-size: 1rem;
            line-height: 2.2rem;
            font-weight: normal;

            &:hover {
                color: $white;
            }
        }
    }

    &__social {
        display: grid;
        height: 44px;
        grid-template-columns: repeat(3, 44px);
        padding-inline-start: 0px;
        gap: 2rem;
        justify-content: center;

        @include tablet {
            justify-content: left;
        }
    }

    &__icon {
        opacity: 0.6;
        width: 25px;
        height: 25px;
        transition: all 0.2s ease 0s;
        fill: $white;

        &:hover {
            opacity: 1;
        }
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        text-align: right;
        height: 44px;
        align-items: center;
        justify-self: center;

        @include tablet {
            justify-self: right;
        }
    }
}

/*

*/