@import "../../styles/baseline.scss";

.downloadcard {
    height: 460px;
    border-radius: 16px;
    border: 1px solid rgb(36, 36, 36);
    background-color: rgb(21, 21, 21);
    margin: 0 16px;
    justify-items: center;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    overflow: hidden;
    margin-top: 2rem;

    &:hover {
        cursor: pointer;
        background-color: $black200;
    }

    @include tablet {
        margin-top: 0rem;
        margin: 0 60px;
    }

    @include laptop-small {
        margin: 0 100px;
    }

    @include laptop {
        margin: 0 auto;
        width: 1000px;
    }

    & > img {
        bottom: -6rem;
        margin-top: 2rem;
        width: 60%;
        border-radius: 6px;
        justify-self: center;
    }
}